.button {
  display: inline-block;
  position: relative;
  padding: 5px 25px;
  border-radius: 12px;
  text-align: center;
  font-size: 12px;
  background: #ee171f;
  color: #fff;
  transition: .1s ease;
}

.button__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button__text {}

.button:active {
  transform: scale(0.96);
}

.button1 {
  padding: 5px 15px;
  border: 1px solid black;
  border-radius: 10px;
  background: aliceblue;
  display: inline-block;
  text-align: center;
  min-width: 150px;
}

.button--full {
  display: block;
}


.button--full:active {
  transform: translateY(1px);
}

.button--white {
  background: #fff;
  color: #000;
}

.button--shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.footer {
  max-width: 1440px;
  max-height: 347px;
  font-family: Roboto;
  display: flex;
  overflow: scroll;
  flex-direction: row;
  justify-content: space-around;
  padding: 85px 0;
}
.footer__leftPart {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.footer__rightPart {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 55px;
}
.footer-logo {
  display: flex;
  min-width: 233px;
  min-height: 65px;
  background-color: #c4c4c4;
  align-items: center;
  justify-content: center;
}
.footer-copyright {
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #7c7c7c;
}
.footer-socialNet {
  display: flex;
  flex-direction: row;
  gap: 17px;
  max-height: 37px;
}
.footer-socialNet__item {
  height: 100%;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 37px;
}
.footer-nav__item {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}
.footer-nav__item_bold {
  font-weight: 600;
}

.button--full:active {
  transform: translateY(1px);
}

.button--white {
  background: #fff;
  color: #000;
}

.button--shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
