.button {
  display: inline-block;
  position: relative;
  padding: 5px 25px;
  border-radius: 12px;
  text-align: center;
  font-size: 12px;
  background: #ee171f;
  color: #fff;
  transition: .1s ease;
}

.button__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button__text {}

.button:active {
  transform: scale(0.96);
}

.button--full {
  display: block;
}

.button--full:active {
  transform: translateY(1px);
}

.button--white {
  background: #fff;
  color: #000;
}

.button--shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
